{% macro button(text, link=None, classes='', id='', type=None) %}
    {% if link %}<a href="{{ link }}">{% endif %}
        <button id="{{ id }}" class="{{ classes }}"{% if type %}type="{{ type }}"{% endif %}>{{ text }}</button>
    {% if link %}</a>{% endif %}
{% endmacro %}

{% macro make_header(user) %}
    <header>
        <div class="headtext">Logged in as <span>{{ user.name }}</span></div>
        {{ button('Logout', url_for('logout'), 'tiny') }}
    </header>
{% endmacro %}

{% macro checkbox(title, state, name) %}
    <label class="checkbox">{{ title }}
        <input name="{{ name }}" type="checkbox"{% if state %} checked="checked"{% endif %}>
        <span class="checkmark"></span>
    </label>
{% endmacro %}

{% macro modal(title, links) %}
    <div class="modalHead">
        <div class="mhTitle">{{ title }}</div>
        <div class="mhOpts">
            {% for i in links %}
                <a {% if i[2] %}class="active"{% endif %} href="{{ i[1] }}">{{ i[0] }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="modalBody">
        {{ caller() }}
    </div>
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Lol title{% endblock %}</title>

        <meta name="viewport" content="width=device-width, ititial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('assets', path='index.css') }}">
    </head>

    <body style="{% block bodystyle %}{% endblock %}" class="preload">
        {% block body %}{% endblock %}

        <script>
            document.body.className = "";
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
